html {
  font-size: 18px;

}

body {
  font-family: Helvetica;
  font-size: 1rem;
  line-height: 1.4;
}

.main-section, .header-container, footer {
  width: 960px;
  margin: 0 auto;
}

/* header */

header {
  background-image: url("../../resources/images/glasses-bg.png");
  background-size: cover;
  height: 30rem;
  padding-top: 1rem;
}

header img {
  height: 1.5rem;
  width: auto;
  padding: 0 1rem;
  }

.top-bar {
  display: flex;
  color: white;
  background-color: cadetblue;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

.top-bar p {
  display: inline-block;
      vertical-align: super;
}

nav {
  display: inline-block;
}

.small {
  display: none;
}

.top-bar li {
  display: inline-block;
  margin: 0 1rem;
}

.title {
  display: flex;
}

.slogan {
  width: fit-content;
  background-color: white;
  margin-top: 10rem;
  padding: 1.5rem 5rem;
  margin-left: auto;
margin-right: -2rem;
}

.slogan h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

/* Main Body Section */


.icons {
  padding: 3rem 0;
  display: flex;
  justify-content: center;
}

.icon {
  height: 8rem;
  width: 5rem;
  margin: 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#comp-img {
  width: 3.5rem;
}

.icon img {
  object-fit: contain;
  width: 5rem;;
  box-sizing: border-box;
  }

.icon p {
  text-align: center;
}

/* Text section */

.text-container {
  display: flex;
  justify-content: center;
  }

.side{
  margin: 0 2.5%;
  width: 35%;
  padding-bottom: 5rem;
}

.side p:first-child{
  width: 10rem;
  font-weight: bold;
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;

}

.side p:last-child {
  padding-top: 1rem;
}

/* Footer */

footer {
  background-color: azure;
}

footer img, p {
  display: inline-block;
}

.footer-container {
  padding: 4rem;
  display: flex;

}

footer img {
  height: 1.5rem;
  padding-right: 1rem;
}

@media only screen and (max-width: 1000px){

header {
  height: 22rem;
  padding-top: unset;
  background-position: 20%;
}

.main-section, .header-container, footer {
  width: 100%;
  }

.slogan {
  margin-top: 5rem;
  padding: 0.75rem 4rem;
  margin-right: 2rem;
}

.slogan h1 {
    font-size: 1.33rem;
}

}

@media only screen and (max-width: 650px){

body {
  font-size: 0.77rem;
}

header {
  height: 17rem;
}

.slogan {
  margin-top: 9rem;
  width: 100%;
  padding: 1rem 0;
  text-align: center;
}

.slogan h1 {
    font-size: 1rem;
}

.large {
  display: none;
}

.small {
  display: inherit;
}

.icons {
  flex-direction: column;
    align-items: center;
    padding: 3.77rem 0;
}

.icon {
  padding-bottom: 1.54rem;
    justify-content: space-around;
}

.icon:last-child{
  padding-bottom: unset;

}

.text-container {
  display: block;

}

.side {

width: unset;
margin: unset;
padding-bottom: 3rem;
}

.side p:first-child{
  width: 100%;
  text-align: center;
}

.side p:last-child{
  padding: 1rem 0;

}

.footer-container img{
  margin: 0 auto;
}

.footer-container p {
  display: none;
}

}
